
.generate-products(4);

.generate-products(@n, @i: 1) when (@i < @n) {
    .product-@{i} {
        transform: translate((@i * 4px), -((@i * 4px)));

        z-index: @n - @i;
    }
    .generate-products(@n, (@i + 1));
}

.generate-rows(5);

.generate-rows(@n, @i: 0) when (@i < @n) {
    .row-@{i} {
        .selling {
            top: 500px - (@i * 88px);
        }
    }

    .generate-rows(@n, (@i + 1));
}

body, html {
    position: relative;
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: monospace;

    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none;   /* Firefox all */
    -ms-user-select: none;  /* IE 10+ */
    user-select: none;  /* Likely future */
}

#machine-container {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 0;

    div {
        // position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

#machine {
    position: relative;
    width: 500px;
    height: 710px;
    float: left;

    background-image: url('/assets/vendor-machine.png');
}

#coins {
    position: absolute;
    top: 10px;
    right: 0;
    width: 400px;
}

#items {
    position: absolute;
    top: 46px;
    left: 30px;
    width: 312px;
    height: 488px;

    .row {
        height: 88px;
    }

    .slot {
        position: relative;
        float: left;
        width: 20%;
        height: 79px;
        margin-top: 9px;
    }

    .code {
        position: absolute;
        bottom: -14px;
        width: 100%;
        height: 25px;
        line-height: 24px;
        text-align: center;
        color: white;

        background-image: url('/assets/slot-number.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        z-index: 10;
    }
}

#screen {
    position: absolute;
    top: 55px;
    right: 40px;
    width: 78px;
    height: 40px;
    padding: 5px;

    color: red;
    font-size: 20px;
    line-height: 40px;
    background-image: url('/assets/display-bg.png');
}

#clear {
    position: absolute;
    top: 160px;
    right: 50px;
    width: 35px;
    height: 30px;
    cursor: pointer;
    background-image: url('/assets/cancel-button.png');
}

#pinpad {
    position: absolute;
    top: 210px;
    right: 40px;
    width: 88px;
    height: 125px;
}

.pin-btn {
    display: inline-block;
    width: 31%;
    height: 20px;
    line-height: 18px;
    margin: 5px 1%;
    text-align: center;

    cursor: pointer;

    background-image: url('/assets/pinpad-button-normal.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.product-0 {
    z-index: 4;
}

.product {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    margin: 0 10%;
    margin-top: 10px;
    height: 65px;

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
    }
}

#coins {
    width: 450px;
    float: left;
    left: 550px;
}

#coins-to-use {
    position: relative !important;
    width: 100%;
    height: 120px;
    background-color: lightgray;
    border: 4px solid black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}

.coin {
    margin: 0 10px;
    cursor: pointer;
}

#change-received {
    position: absolute;
    top: 378px;
    left: 393px;
    width: 37px;
    height: 20px;
    background-color: black;
    color: red;
    padding: 0 5px;
    font-size: 20px;
    line-height: 20px;

    text-align: center;
}

#coins-received {
    position: relative !important;
    margin-top: 250px;
}

.selling {
    position: absolute;
    top: 500px;

    -webkit-transition: top .7s;
    transition: top .7s;
    z-index: 11;
}

.change {
    max-height: 60px;
    margin: 0 10px;
}
